body {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  background-color: black;
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: black;
}
div {
  height: 50px;
  width: 50px;
  background-color: tan;
  border-radius: 20%;
}
